<% @books.each do |book| %>
<div class="top__main__contents">
  <div class="top__main__contents__glid">

    <div class="top__main__contents__glid__header">
      <div class="top__main__contents__glid__header--title">
        <span>タイトル： </span><%= book.title %>
      </div>
        <div class="top__main__contents__glid__header__others">

          <ul class="top__main__contents__glid__header__others__ul">
            <li class="top__main__contents__glid__header__others__ul--li">
              <span class="chip content">
                <% book.tags.each do |t| %>
                  <%= t.tag %>
                <% end %>
              </span>
            </li>

            <li class="top__main__contents__glid__header__others__ul--li2">
              <i class="fas fa-angle-down"></i>
                <ul class="top__main__contents__glid__header__others__ul--ul">
                  <li class="top__main__contents__glid__header__others__ul--ul--li">
                    <% if current_user.id == book.user_id %>
                      <span><%= link_to "編集", "/books/#{book.id}/edit" %></span>
                    <% end %>
                  </li>
                  <li class="top__main__contents__glid__header__others__ul--ul--li">
                    <span><%= link_to "詳細", "/books/#{book.id}" %></span>
                  </li>
                  <li class="top__main__contents__glid__header__others__ul--ul--li">
                    <% if current_user.id == book.user_id %>
                      <span><%= link_to '削除', "/books/#{book.id}", method: :delete %></span>
                    <% end %>
                  </li>
                </ul>
            </li>
          </ul>

        </div>
    </div>

    <div class="top__main__contents__glid__text">
      <div class="top__main__contents__glid__text--content"><span>内容： </span><%= book.content %></div>
    </div>

    <div class="top__main__contents__glid__footer">
      <div class="top__main__contents__glid__footer--time"><span>投稿日時： </span><%= book.created_at.strftime("%Y/%m/%d %H:%M") %></div>
      <div class="top__main__contents__glid__footer--name"><span>名前： </span><%= book.user.nickname %></div>
    </div>
    <div class="top__main__contents__glid__footer--comment">
      <% book.comments.each do |c| %>
        <% if c.content %>
          <i><%= link_to "コメントあり", "/books/#{book.id}" %></i>
          <% break %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
<% end %>