<div class="top">
  <header class="top__header">
      <div class="top__header__menu">
        <ul class="top__header__menu--ul">

          <li class="top__header__menu--list1">
            <span class="top__header__menu--figure1"><%= link_to "積読スッキリ!!", "/", class: "top__header__menu--link" %></span>
            <%= image_tag 'menu_title.png', class: "top__header__menu--img" %>
          </li>

          <li class="top__header__menu--list2">
            <span class="top__header__menu--figure2"><%= link_to "新規登録（マイページ）", "/", class: "top__header__menu--link" %></span>
            <%= image_tag 'signup-mypage.png', class: "top__header__menu--img" %>
          </li>

          <li class="top__header__menu--list3">
            <span class="top__header__menu--figure3"><%= link_to "ログイン（ログアウト）", "/", class: "top__header__menu--link" %></span>
            <%= image_tag 'signin-signout.png', class: "top__header__menu--img" %>
          </li>

          <li class="top__header__menu--list4">
            <span class="top__header__menu--figure4"><%= link_to "投稿する", "/", class: "top__header__menu--link" %></span>
            <%= image_tag 'toukou.png', class: "top__header__menu--img" %>
          </li>

        </ul>
      </div>
  </header>
</div>