<!-- サイドのヘッダー -->
<%= render "left_header" %>

<!-- 編集画面 -->
<div class="edit">
  <div class="edit__container">
    <h1 class="edit__container--header">編集する</h1>

      <div class="edit__container__contents">

      <!-- エラーメッセージ -->
      <%= render "layouts/post_error_message" %>

        <%= form_for(@book) do |form| %>

          <div class="edit__container__contents__field">
            <%= form.label :id, "投稿ID"  %>
            <%= form.text_field :id, readonly:"readonly" %>
          </div>

          <div class="edit__container__contents__field">
            <%= form.label :title, "タイトル" %><em class="edit__letter__limit">(30文字まで)</em>
            <%= form.text_field :title %>
          </div>

          <div class="edit__container__contents__field--content">
            <%= form.label :content, "内容" %><em class="edit__letter__limit">(250文字まで)</em>
            <p><%= form.text_area :content, id: "input-text" %></p>
            <p id="counter", class="edit__container__contents__field--count">現在の入力文字数：0文字</p>
          </div>

            <%= form.fields_for :tags do |tag__form| %>
                <div class="edit__container__contents__field">
                  <%= tag__form.label :tag, "タグ" %><em class="edit__letter__limit">(10文字まで)</em>
                    <%= tag__form.text_field :tag %>
              </div>
            <% end %>
          <div class="edit__container__contents__submit">
          <%= form.submit "更新する", class:"edit__container__contents__submit--button" %></div>
        <% end %>
      </div>

  </div>
</div>
