<!-- サイドのヘッダー -->
<%= render "left_header" %>

<!-- 新規投稿 -->
<div class="new">
  <div class="new__container">
    <h1 class="new__container--header">投稿する</h1>
      <div class="new__container__contents">

      <!-- エラーメッセージ -->
      <%= render "layouts/post_error_message" %>

        <%= form_for(@book) do |form| %>

          <div class="new__container__contents__field">
            <%= form.label :title, "タイトル" %><em class="new__letter__limit">(30文字まで)</em>
            <%= form.text_field :title %>
          </div>

          <div class="new__container__contents__field--content">
            <%= form.label :content, "内容" %><em class="new__letter__limit">(250文字まで)</em>
            <p><%= form.text_area :content, id: "input-text" %></p>
            <p id="counter", class="new__container__contents__field--count">現在の入力文字数：0文字</p>
          </div>

            <%= form.fields_for :tags do |tag__form| %>
                <div class="new__container__contents__field">
                  <%= tag__form.label :tag, "タグ" %><em class="new__letter__limit">(10文字まで)</em>
                    <%= tag__form.text_field :tag %>
              </div>
            <% end %>
          <div class="new__container__contents__submit">
          <%= form.submit "送信する", class:"new__container__contents__submit--button" %></div>
        <% end %>
      </div>

  </div>
</div>
