<%= render "left_header" %>

<div class="new">
  <div class="new__container">
    <h1 class="new__container--header">投稿する</h1>
    
      <div class="new__container__contents">
        <%= form_for(@book) do |form| %>

          <div class="new__container__contents--field">
            <%= form.label :title, "タイトル" %>
            <%= form.text_field :title %>
          </div>

          <div class="new__container__contents--field">
            <%= form.label :content, "内容" %>
            <%= form.text_field :content %>
          </div>

            <%= form.fields_for :tags do |tag__form| %>
              <div class="new__container__contents--field">
                <%= tag__form.label :tag, "タグ" %>
                  <%= tag__form.text_field :tag %>
              </div>
            <% end %>

          <%= form.submit "送信する" %>
        <% end %>
      </div>

  </div>
</div>
