<%= render "left_header" %>

<div class="top__main">
  <section class="top__main--section">
    <h2 class="top__main--title">Read Book(詳細)</h2>

      <div class="top__main__contents">
        <div class="top__main__contents__glid">

          <div class="top__main__contents__glid__header">
            <div class="top__main__contents__glid__header--title">
              <span>タイトル： </span><%= @book.title %>
            </div>
              <div class="top__main__contents__glid__header__others">

                <ul class="top__main__contents__glid__header__others__ul">
                  <li class="top__main__contents__glid__header__others__ul--li">
                    <span class="chip content">
                      <% @book.tags.each do |t| %>
                        <%= t.tag %>
                      <% end %>
                    </span>
                  </li>

                  <li class="top__main__contents__glid__header__others__ul--li2">
                    <i class="fas fa-angle-down"></i>
                      <ul class="top__main__contents__glid__header__others__ul--ul">
                        <li class="top__main__contents__glid__header__others__ul--ul--li">
                          <span><%= link_to "編集", "/books/#{@book.id}/edit" %></span>
                        </li>
                        <li class="top__main__contents__glid__header__others__ul--ul--li">
                          <span><%= link_to "詳細", "/users/#{current_user.id}" %></span>
                        </li>
                        <li class="top__main__contents__glid__header__others__ul--ul--li">
                          <span><%= link_to '削除', "/books/#{@book.id}", method: :delete %></span>
                        </li>
                      </ul>
                  </li>
                </ul>

              </div>
          </div>

          <div class="top__main__contents__glid__text">
            <div class="top__main__contents__glid__text--content"><span>内容： </span><%= @book.content %></div>
          </div>

          <div class="top__main__contents__glid__footer">
            <div class="top__main__contents__glid__footer--time"><span>投稿日時： </span><%= @book.created_at.strftime("%Y/%m/%d %H:%M") %></div>
            <div class="top__main__contents__glid__footer--name"><span>名前： </span><%= @book.user.nickname %></div>
          </div>

        </div>
      </div>

<!-- コメント -->
  <div class="comment__posts">
    <% if current_user %>
      <%= form_for [@book, @comment] do |form| %>
        <div class="comment__posts__field">
          <%= form.label :content, "コメント" %>
          <%= form.text_area :content %>
          <div class="comment__posts__submit">
            <%= form.submit "送信する", class:"comment__posts__submit--button" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

    <div class="comment__list">
      <h6>＜コメント一覧＞</h6>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.content %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  </section>
</div>