<!DOCTYPE html>
<html>
  <head>
    <title>Tsundoku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header class="header">
      <p class="header__logo"><%= link_to image_tag('book_logo.png'), '/' %></p>
      <h1 class="header__title"><a href="/"><span>積</span>読スッキリ！</a></h1>
      <div class="header__nav">
        <% if user_signed_in? %>
          <div class="header__nav__user">
            <li class="header__nav__user--nickname">
              <%= current_user.nickname %>
              <span>しゅん</span>
                <ul>
                  <li><%= link_to "マイページ", "/" %></li>
                  <li><%= link_to "ログアウト", "/" %></li>
                </ul>
            </li>
          </div>
          <div class="header__nav__button">
            <%= link_to "投稿する", "/", class: 'header__nav__button--action header__nav__button--top' %>
          </div>
        <% else %>
          <div class="header__nav__button">
            <%= link_to "ログイン", new_user_session_path, class: 'header__nav__button--action' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'header__nav__button--action' %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>
  </body>
</html>